<div class="container-fluid" style="padding: 0;margin: 0;">
  <mat-drawer-container class="tg" style="background: none;">
    <mat-drawer mode="side" [opened]="open" id="menu">



       <mat-nav-list>

         <a mat-list-item [routerLink]="nav.route"  *ngFor="let nav of  fillerNav">
           <mat-icon>{{nav.icon}}</mat-icon>
             {{nav.name}}</a>

              <mat-nav-list id="compte">
                <a mat-list-item [routerLink]="nav.route"  *ngFor="let nav of  fillerNav2">
                    <mat-icon>{{nav.icon}}</mat-icon>
                    {{nav.name}}</a>
               </mat-nav-list>
       </mat-nav-list>


    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button (click)="toggle()" mat-icon-button>
            <mat-icon>{{icoButton}}</mat-icon>
          </button>
          <span><span id="way">Way</span>Finding<span id="version">1.0</span></span>

        </mat-toolbar-row>
      </mat-toolbar>




      <app-search></app-search>
      <div class="container-fluid" id="content-page">
          <div class="row">
            <app-menu class="col-2"></app-menu>
            <app-school class="col-7"></app-school>
          </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</div>
